<header class="home-header">

    <body class="home">
        <div class="header">
          <!--<img src="/logo.png">-->
          <h1 class="title" ; style="font-family:Palanquin Dark" ; style="font-size:2vw">Maximum New York</h1>
      <div style="text-align:center">
        <p class="navigation">
          <a style="color:rgb(255, 255, 255)" href="/about">About</a> •
          <a style="color:rgb(255, 255, 255)" href="/posts">Posts</a> •
          <a style="color:rgb(255, 255, 255)" href="/follow">Follow</a> •
          <a style="color:rgb(255, 255, 255)" href="/support">Support</a>
        </p> 
      </div>

</header>