<!--This page defines the custom layout used only for the home page, see _layouts/home-->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@600&display=swap" rel="stylesheet">
  
  {%- include head.html -%}

  <body>

    {%- include home_header.html -%}

    <main class="home-page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</head>

</html>